{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default"/>

<f:section name="content">
    <h1>
        <f:translate key="tgm_customerservice.title" htmlEscape="false"/>
    </h1>
    <f:flashMessages/>
    <f:render partial="FormErrors"/>
    <f:form action="save" name="backendSettings" object="{backendSettings}" method="POST">
        <hr>
        <fieldset>
            <div class="row">
                <f:render section="InputField" arguments="{
                    colClass: 'col-md-12',
                    fieldId: 'style-login-logo',
                    fieldProperty: 'style.logo',
                    fieldLabel: 'Login-Logo',
                    fieldDescription: '<sub>(150px-Breite empfohlen) (z. B.: &quot;http://example.com/typo3/&lt;Pfad&gt;&quot; oder Direktlink)</sub>'
                }"/>
            </div>
            <div class="row">
                <f:render section="InputField" arguments="{
                    colClass: 'col-md-6',
                    fieldId: 'style-highlight-color',
                    fieldProperty: 'style.highlightColor',
                    fieldLabel: 'Hightlight-Color',
                    fieldDescription: '<sub>(Hervorhebungsfarbe beim Login) (6-stellige-HEX-Farbe mit beginnendem &quot;#&quot;)</sub>'
                }"/>
                <f:render section="InputField" arguments="{
                    colClass: 'col-md-6',
                    fieldId: 'style-background',
                    fieldProperty: 'style.background',
                    fieldLabel: 'Hintergrund',
                    fieldDescription: '<sub>(Hervorhebungsfarbe beim Login) (6-stellige-HEX-Farbe mit beginnendem &quot;#&quot;)</sub>'
                }"/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="row">
                <f:render section="InputField" arguments="{colClass: 'col-md-6', fieldId: 'companyData-title', fieldProperty: 'companyData.title', fieldLabel: 'Titel'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-6', fieldId: 'companyData-companyLogo', fieldProperty: 'companyData.companyLogo', fieldLabel: 'Firmenlogo', fieldDescription: '<sub>(73x22 Pixel empfohlen)</sub>'}"/>
            </div>
            <div class="row">
                <f:render section="InputField" arguments="{colClass: 'col-md-6', fieldId: 'companyData-company', fieldProperty: 'companyData.company', fieldLabel: 'Firmenname'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-6', fieldId: 'companyData-subtitle', fieldProperty: 'companyData.subtitle', fieldLabel: 'Untertitel'}"/>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="row">
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-street', fieldProperty: 'companyData.street', fieldLabel: 'Straße'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-housenumber', fieldProperty: 'companyData.housenumber', fieldLabel: 'Nummer'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-zip', fieldProperty: 'companyData.zip', fieldLabel: 'PLZ'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-city', fieldProperty: 'companyData.city', fieldLabel: 'Ort'}"/>
            </div>
            <div class="row">
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-phone', fieldProperty: 'companyData.phone', fieldLabel: 'Telefon'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-fax', fieldProperty: 'companyData.fax', fieldLabel: 'Fax'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-website', fieldProperty: 'companyData.website', fieldLabel: 'Webseite'}"/>
                <f:render section="InputField" arguments="{colClass: 'col-md-3', fieldId: 'companyData-email', fieldProperty: 'companyData.email', fieldLabel: 'E-Mail'}"/>
            </div>
        </fieldset>
        <hr>
        <f:form.button type="submit" value="Speichern" class="btn btn-success">Speichern</f:form.button>
    </f:form>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <f:form action="updateFromSettings" name="backendSettings" object="{backendSettings}" method="POST">
                <div class="row">
                    <div clasS="col-md-12">
                        <p>Die Standardeinstellungen können mithilfe einer eigenen oder der Vorlagen-Datei gesetzt werden:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <f:form.textfield type="text" class="form-control" property="paths.file" required="1" value="http://cdn.teamgeist-medien.de/tgm/ext/tgm_customerservice/config_versions/{backendSettings.configVersion}.json"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <f:link.external class="btn btn-default btn-block disabled" uri="" target="_blank" title="In neuem Tab öffnen">
                            <core:icon identifier="apps-pagetree-page-domain"/>
                        </f:link.external>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group btn-block">
                            <f:form.button type="submit" class="btn btn-default btn-block" title="Felder aktualisieren">
                                <core:icon identifier="actions-document-synchronize"/>
                            </f:form.button>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
    </div>
</f:section>

<f:comment><!-- InputField-Section --></f:comment>
<f:section name="InputField">
    <div class="{colClass}">
        <div class="form-group">
            <label for="{fieldId}">{fieldLabel} {f:if(condition: fieldDescription, then: fieldDescription)}</label>
            <f:form.textfield id="{fieldId}" type="text" class="form-control" property="{fieldProperty}"/>
        </div>
    </div>
</f:section>