{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default"/>

<f:section name="content">
    <h1>
        <f:translate key="tgm_customerservice.title" htmlEscape="false"/>
    </h1>
    <f:flashMessages/>
    <f:render partial="FormErrors"/>
    <f:form action="save" name="backendSettings" object="{backendSettings}" method="POST">
        <hr>
        <fieldset>
            <div class="row">
                <f:render section="SixCol" arguments="{
                    colClass: 'col-md-6',
                    fieldId: 'style-login-logo',
                    fieldProperty: 'style.logo',
                    fieldLabel: 'Login-Logo',
                    fieldDescription: '<sub>(150px-Breite empfohlen) (z. B.: &quot;http://example.com/typo3/&lt;Pfad&gt;&quot; oder Direktlink)</sub>'
                }"/>
                <f:render section="SixCol" arguments="{
                    colClass: 'col-md-6',
                    fieldId: 'style-topbar-icon',
                    fieldProperty: 'style.topbarIcon',
                    fieldLabel: 'Topbar-Icon',
                    fieldDescription: '<sub>(22x22 Pixel empfohlen) (http://example.com/typo3/&lt;Pfad&gt;) <i>(Nicht existierende Pfade können PHP-Fehler verursachen)</i></sub>'
                }"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="style-highlight-color">Hightlight-Color&nbsp;<sub>(Hervorhebungsfarbe beim Login) (6-stellige-HEX-Farbe mit beginnendem "#")</sub></label>
                        <f:form.textfield id="style-highlight-color" type="text" class="form-control" property="style.highlightColor"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="style-background">Hintergrund <sub>(6-stellige-HEX-Farbe mit beginnendem "#" oder Direktlink)</sub></label>
                        <f:form.textfield id="style-background" type="text" class="form-control" property="style.background"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyData-title">Titel</label>
                        <f:form.textfield id="companyData-title" type="text" class="form-control" property="companyData.title"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyData-companyLogo">Firmenlogo <sub>(73x22 Pixel empfohlen)</sub></label>
                        <f:form.textfield id="companyData-companyLogo" type="text" class="form-control" property="companyData.companyLogo"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyData-company">Firmenname</label>
                        <f:form.textfield id="companyData-company" type="text" class="form-control" property="companyData.company"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyData-subtitle">Untertitel</label>
                        <f:form.textfield id="companyData-subtitle" type="text" class="form-control" property="companyData.subtitle"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-street">Straße</label>
                        <f:form.textfield id="companyData-street" type="text" class="form-control" property="companyData.street"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-housenumber">Nummer</label>
                        <f:form.textfield id="companyData-housenumber" type="text" class="form-control" property="companyData.housenumber"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-zip">PLZ</label>
                        <f:form.textfield id="companyData-zip" type="text" class="form-control" property="companyData.zip"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-city">Ort</label>
                        <f:form.textfield id="companyData-city" type="text" class="form-control" property="companyData.city"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-phone">Telefon</label>
                        <f:form.textfield id="companyData-phone" type="text" class="form-control" property="companyData.phone"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-fax">Fax</label>
                        <f:form.textfield id="companyData-fax" type="text" class="form-control" property="companyData.fax"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-city">Webseite</label>
                        <f:form.textfield id="companyData-website" type="text" class="form-control" property="companyData.website"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="companyData-email">E-Mail</label>
                        <f:form.textfield id="companyData-email" type="text" class="form-control" property="companyData.email"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr>
        <f:form.button type="submit" value="Speichern" class="btn btn-success">Speichern</f:form.button>
    </f:form>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <f:form action="updateFromSettings" name="backendSettings" object="{backendSettings}" method="POST">
                <div class="row">
                    <div clasS="col-md-12">
                        <p>Die Standardeinstellungen können mithilfe einer eigenen oder der Vorlagen-Datei gesetzt werden:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <f:form.textfield type="text" class="form-control" property="paths.file" required="1" value="http://cdn.teamgeist-medien.de/tgm/ext/tgm_customerservice/config_versions/{backendSettings.configVersion}.json"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <f:link.external class="btn btn-default btn-block disabled" uri="" target="_blank" title="In neuem Tab öffnen">
                            <core:icon identifier="apps-pagetree-page-domain"/>
                        </f:link.external>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group btn-block">
                            <f:form.button type="submit" class="btn btn-default btn-block" title="Felder aktualisieren">
                                <core:icon identifier="actions-document-synchronize"/>
                            </f:form.button>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
    </div>
</f:section>

<f:section name="SixCol">
    <div class="{colClass}">
        <div class="form-group">
            <label for="{fieldId}">{fieldLabel} {f:if(condition: fieldDescription, then: fieldDescription)}</label>
            <f:form.textfield id="{fieldId}" type="text" class="form-control" property="{fieldProperty}"/>
        </div>
    </div>
</f:section>